.movie-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }
  
  #poster {
    width: 1000px;
    height: 800px;
    background-color: lightgray;
    margin-bottom: 10px;
  }
  
  #runtime, #showtime, #available-tickets {
    margin-bottom: 10px;
  }
  